<div class="post_box" >
  <form #postForm="ngForm" (ngSubmit)="post(postForm.value)">
    <div class="post_form_label">
      <b><span>Post</span></b>
    </div>
    <div class="input_group">
      <div class="input_subjects">
        <input id="subjects" placeholder="Subjects"/>
      </div>
      <div class="input_script">
        <input id="script" placeholder="Script" />
      </div>
      <div class="input_file">
        <button class="upload_button" >
          <img src="assets/images/icons/upload-image.svg" />
          <br>
          <b>
            <span>
              IMAGE UPLOAD
            </span>
          </b>
        </button>
        <input type="file" />
      </div>
    </div>
  </form>
</div>
