<div class="post_window" >
  <form #postForm="ngForm" (ngSubmit)="addPost(postForm.value)"
        class="example-form">
    <mat-form-field class="example-full-width">
      <input
        ngModel name="content"
        matInput placeholder="Content">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input
        ngModel name="subjects"
        matInput placeholder="Subjects">
    </mat-form-field>
    <button class="post_button" type="submit" >Add post</button>
  </form>
</div>
