label {
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

.content {
  background: #6c77e4;
  margin: 0;
  padding: 5vh 10vw;
  height: 100vh;
}

.logo {
  margin: 2rem;
  font-size: 1.5rem;
  color: rgba(255, 255, 255, 0.7);
}

.header {
  display: flex;
  justify-content: center;
}

.sign-in,
.sign-up {
  padding: 1em;
  width: 45%;
  font-size: 0.9em;
  color: white;
}

.sign-in {
  border-bottom: 3px solid #ffb700;
}

.sign-up {
  color: #ffffff55;
  border-bottom: 3px solid #ffffff33;
  transition-duration: 200ms;
}
.sign-up:hover {
  color: #ffffffdd;
  border-bottom: 3px solid #ffffffdd;
}

.main-container {
  display: flex;
  margin-top: 5vh;
}

.left-side {
  width: 150%;
}

.right-side {
  width: 100%;
}

input {
  outline: none;
  width: 100%;
  padding: 1rem 1rem;
  border-radius: 8px;
  border: none;
  margin: 0.2rem 0 0.5rem;
  transition: 200ms;
  background-color: #ffffff33;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.8);
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgba(255, 255, 255, 0.5);
  opacity: 1; /* Firefox */
}

/* input:hover {
  border-bottom: 2px solid gray;
}

input:focus {
  border-bottom: 2px solid #fbc02d;
} */

.submit {
  background: #ffb700;
  border: none;
  border-radius: 8px;
  padding: 1.2rem;
  width: 100%;
  margin: 0.5rem 0 0.2rem;
  transition: 200ms;
  font-size: 1.1rem;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.7);
}

.submit:focus,
.submit:hover {
  box-shadow: 2px 2px 5px gray;
}

.submit:disabled {
  pointer-events: none;
  background: #ffeb3b;
  border: 1px solid #fbc02d;
}

.small {
  font-size: 0.8rem;
}

.alert {
  color: red;
}

@media (max-width: 720px) {
  .content {
    background: #6c77e4;
    margin: 0;
    padding: 5vh 10vw;
    height: 100vh;
  }

  .main-container {
    display: block;
  }
}
