/*

I added some styles, delete it when you start building this page

*/

#mt td{
  width: 20%;
  height: 100%;
  text-align: center;
  vertical-align: middle;
}

.post_window {
  margin: 0 auto;
  width: 60%;
  height: 500px;
  background-color: #a0c1f7;
}

.example-form {
  padding: 50px;
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.post_button {
  border-radius: 5px;
  background-color: dodgerblue;
  outline: 0;
}

.subject_button {
}
