<div class="content">
  <div class="center-align logo">OUR_LOGO</div>
  <div class="center-align"><h1>Sign up</h1></div>
  <div class="main-container">
    <div class="left-side"><!--Don't touch it. This div is for the background--></div>
    <div class="right-side">
      <form #accountForm="ngForm" (ngSubmit)="addAccount(accountForm.value)">
        <div class="form-groups">
          <label for="gmail" class="m-2">Gmail</label>
          <input id="gmail" ngModel name="gmail" />
        </div>
        <div class="form-groups">
          <label for="username" class="m-2">Username</label>
          <input id="username" ngModel name="username" />
        </div>
        <div class="form-groups">
          <label for="first_name" class="m-2">First Name</label>
          <input id="first_name" ngModel name="first_name" />
        </div>
        <div class="form-groups">
          <label for="last_name" class="m-2">Last Name</label>
          <input id="last_name" ngModel name="last_name" />
        </div>
        <div class="form-groups">
          <label for="password" class="m-2">Password</label>
          <input id="password" ngModel name="password" />
        </div>
        <div class="form-groups">
          <label for="re-password" class="m-2">Confirm passoword</label>
          <input id="re-password" ngModel name="re-password" />
        </div>
        <button class="submit">Sign up</button>
        <p class="small">Already have an account? <a href="/">Log In</a></p>
      </form>
    </div>
  </div>

</div>
