<div class="text-left m-2">
  <h1>This is {{viewedAccountInfo?.fullName.firstName}}'s account</h1>
  <div>
    <h5>Personal information</h5>
      <div style="font-size: 13px;">
        <p> Gmail address : {{ viewedAccountInfo?.gmail }}</p>
        <p> Full name : {{ viewedAccountInfo?.fullName.firstName }} {{ viewedAccountInfo?.fullName.lastName }} </p>
      </div>
  </div>
</div><br>

<h3 class="text-left m-2" >Posts</h3>
<div class="text-left m-5" >
  <div
    style="background: #e5eef7;"
    *ngFor="let post of posts">
    <p>Contenet: {{ post.message }}</p>
    <p>Author: {{ post.postAccountInfo.fullName.firstName }}</p>
  </div>
</div>
